# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/

# IDEs
.vscode/
.idea/

# Environment variables
.env

# Streamlit
.streamlit/

# Logs
*.log

# Parquet files
*.parquet

# Test scripts
test_script.py
